<button (click)="buscarPosts()" type="button">Buscar Posts</button>
<button (click)="salvarPosts()" type="button">Salvar Posts</button>
<hr/>
<label>Salário de Programador: {{ salario | currency: "BRL":"symbol" }}</label>
<br />
<div *ngIf="mostrarLinhaCodigo">
  <br />
  <table [ngStyle]="{ border: '1px solid black' }">
    <thead>
      <tr>
        <td>Index</td>
        <td>Número da linha</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let nrLinha of linhasDeCodigo; let i = index">
        <td>{{ i }}</td>
        <td>{{ nrLinha }}</td>
      </tr>
    </tbody>
  </table>
</div>
<label
  >Linhas de código com erro:
  {{ linhasDeCodigo.length > 2 ? linhasDeCodigo : [([] | arrayToString)] }}</label>
<hr />
<component-1 label="Nome" (clickSalvar)="atualizarBotaoClicado($event)"> </component-1>

<hr/>

<div [ngSwitch]="ultimoBotaoClicado">
  <div *ngSwitchCase="1">
    O último botão clicado foi "Salvar 1"
  </div>
  <div *ngSwitchCase="2">
      O último botão clicado foi "Salvar 2"
    </div>
  <div *ngSwitchDefault>
    Nenhum botão foi clicado
  </div>
</div>

<form (submit)="onSubmit()" [formGroup]="formulario" novalidate>
<label>Nome:</label>
<br/>
<input formControlName="nome" type="text" >
<label *ngIf="!formulario.get('nome').pristine $$ formulario.get('nome').invalid">
  <span style="color: red">O campo "Nome" é obrigatório</span>
</label>
<br/>
<br/>
<label>Idade:</label>
<br/>
<input formControlName="idade" type="number" >
<br/>
<br/>
<div formGroupName="endereco">
  <label>Rua *</label>
  <br/>
  <input formControlName="rua" type="text">
  <label *ngIf="!formulario.get('endereco.rua').pristine $$ formulario.get('endereco.rua').invalid">
  <span style="color: red">O campo "Rua" é obrigatório</span>
</label>
  <br/>
  <br/>
  <label>Número</label>
  <br/>
  <input formControlName="numero" type="number">
  <br/>
  <br/>
</div>
  <label>Permissões</label>
  <br/>
  <br/>
  <select style="width: 100px" formControlName="permissoes" multiple>
      <option *ngFor="let permissao of permissoes" [value]="permissao">{{ permissao }}</option>
  </select>

<button [disabled]="formulario.invalid">Salvar</button>
</form>


<notifications></notifications>

<hr />
